body {
  color: #2a2a2a;
}

nav {
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.main-container {
  margin-bottom: 10rem;
}

.align-in-row {
  display: flex;
  flex-direction: row;
}

.align-left {
  display: flex;
  justify-content: flex-start;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.centered-text {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: none;
  margin: 0;
}

ul li {
  display: block;
  position: relative;
  display: flex;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

ul li:hover {
  height: 100%;
}

li ul {
  display: none;
  background-color: #fff;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
  margin-top: 3.7rem;
  text-transform: none;
}

ul li a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  color: #8e8e8e;
}

li:hover ul {
  display: block;
  position: absolute;
}

li li {
  margin: 0;
  padding: 1rem 0;
}

.navbar-item>ul>li {
  padding: none;
  line-height: normal;
  margin: 0;
  letter-spacing: normal;
}

.navbar-item {
  padding: 0.5rem 1.5rem;
  margin: 0 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #8e8e8e;
  font-size: 2rem;
  letter-spacing: .1rem;
}

.navbar-item:hover,
.navbar-link:hover {
  color: #484848;
  background-color: #f6f6f6;
}

.selected-page {
  background-color: #f6f6f6;
}

.selected-page>a {
  color: #484848;
}

.dropdown-menu {
  margin-left: -1.5rem;
  width: 100%;
  font-size: 80%;
}

.dropdown-item {
  background-color: #f6f6f6;
  padding: 1rem 1.2rem;
  margin-left: 0;
}

.dropdown-item>a {
  color: #484848;
  margin-left: 0;
}

.dropdown-item:hover {
  background-color: #e8e8e8;
}

a.navbar-link,
.navbar-dropdown-link {
  width: 100%;
}

nav>ul::before,
nav>ul::after {
    background-color: #d0d0d0;
    content: "";
    display: inline-block;
    height: 1px;
    bottom: .1em;
    position: relative;
    vertical-align: middle;
    display: flex;
    width: 50%;
}

.action {
  background-color: #75e583;
  border: 2px solid #75e583;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 4px;
}

.action:hover {
  background-color: #2ea03d;
  border: 2px solid #2ea03d;
  box-shadow: 5px 5px 5px #888888;
}

.action:hover>a {
  background: none;
}

p {
  width: 100%;
}

.header {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  margin-top: 4rem;
}

.title {
  font-size: 6rem;
  color: #484848;
}

.keyword {
  font-weight: bold;
}

section.buffered {
  margin-top: 6rem;
}

div.buffered {
  margin-top: 2rem;
}

h4 {
  letter-spacing: normal;
  line-height: normal;
}

h6 {
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.01rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

/* phone */
@media (max-width: 550px) {
}


/* phone to tablet */
@media (max-width: 750px) {
}
