$mobile-width-small: 480px;
$mobile-width-max: 750px;

$default-text-color: #2a2a2a;
$default-background-color: #ffffff;
$default-transition-time: 0.2s;

$date-text-color: #484848;

$call-to-action-text-color: #ffffff;
$call-to-action-bg-color: #009dff;
$call-to-action-bg-hover-color: #2d7eff;

$navbar-wing-color: #d0d0d0;
$navbar-wing-width: 50%;

$navbar-selected-page-background-color: #f6f6f6;
$navbar-selected-page-text-color: #484848;

$navbar-selected-page-hover-background-color: $navbar-selected-page-background-color;

$navbar-mobile-background-color: #484848;
$navbar-mobile-text-color: #aeaeae;

$navbar-mobile-hover-background-color: $navbar-mobile-text-color;
$navbar-mobile-hover-text-color: $navbar-mobile-background-color;

$footer-text-color: #aeaeae;
$footer-border-color: #aeaeae;

$warning-text-color: #ffad21;
$warning-icon-color: #ffad21;
$warning-bg-color: #ffeac6;
$warning-border-color: #ffdca0;

$info-text-color: #000000;
$info-icon-color: #009dff;
$info-bg-color: #f2faff;
$info-border-color: #f2faff;

$appreciation-icon-color: #db20bc;
$appreciation-bg-color: #fff2fd;
$appreciation-border-color: #fff2fd;

$bad-icon-color: #ba1010;
$bad-bg-color: #ff8282;
$bad-border-color: #ff8282;

$facebook-blue: #3b5998;

$default-rounded-corner-border-radius: 15px;

$default-drop-shadow-color: #484848;

// background-color: #f9f9f7; //sepia/yellow
// background-color: #f9fffa; //green
// $appreciation-icon-color: #fc00d5; //aggressively pink
