@import "constants";

@mixin default-transitions($transition-time) {
  -webkit-transition: opacity $transition-time;
  -moz-transition: opacity $transition-time;
  -ms-transition: opacity $transition-time;
}

@mixin round-corners($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
