@import "constants";
@import "mixins";

.spotlight-container {
  padding: 1rem 3rem 2.5rem;
  justify-content: center;
  font-weight: bold;
  font-size: 140%;
  line-height: 140%;
  letter-spacing: 0.02rem;
}

.spotlight-icon {
  font-size: 500%;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attention-container {
  @include round-corners($default-rounded-corner-border-radius);
  @extend .spotlight-container;

  border: 1px solid $warning-border-color;
  background-color: $warning-bg-color;
}

.attention-icon {
  @extend .spotlight-icon;

  color: $warning-icon-color;
}

.info-container {
  @include round-corners($default-rounded-corner-border-radius);
  @extend .spotlight-container;

  border: 1px solid $info-border-color;
  background-color: $info-bg-color;
}

.info-icon {
  @extend .spotlight-icon;

  color: $info-icon-color;
}

.appreciation-container {
  @include round-corners($default-rounded-corner-border-radius);
  @extend .spotlight-container;

  border: 1px solid $appreciation-border-color;
  background-color: $appreciation-bg-color;
}

.appreciation-icon {
  @extend .spotlight-icon;

  color: $appreciation-icon-color;
}

.bad-container {
  @include round-corners($default-rounded-corner-border-radius);
  @extend .spotlight-container;

  border: 1px solid $bad-border-color;
  background-color: $bad-bg-color;
}

.bad-icon {
  @extend .spotlight-icon;

  color: $bad-icon-color;
}

.button-call-to-action-container {
  margin: 2rem 0;
  background-color: $call-to-action-bg-color;

  &:first-of-type {
    margin-top: 4rem;
  }

  &:hover {
    background-color: $call-to-action-bg-hover-color;
    // box-shadow: 3px 3px 3px $default-drop-shadow-color;
  }
}

.button-link {
  text-decoration: none;
}

.button-call-to-action {
  font-weight: bold;
  font-size: 2.3vw;
  width: 90%;
  padding: 2rem 4rem;
  color: $call-to-action-text-color;
}
