@import "constants";
@import "mixins";

body {
  color: $default-font-color;
}

.displayed {
  display: block !important;
}

.hidden {
  display: none !important;
}

.main-container {
  margin-bottom: 10rem;
}

.align-in-row {
  display: flex;
  flex-direction: row;
}

.align-left {
  display: flex;
  justify-content: flex-start;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.centered-text {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.action {
  background-color: #75e583;
  border: 2px solid #75e583;
  box-shadow: 5px 5px 5px #888888;
  border-radius: 4px;

  &:hover {
    background-color: #2ea03d;
    border: 2px solid #2ea03d;
    box-shadow: 5px 5px 5px #888888;

    &>a {
      background: none;
    }
  }
}

p {
  width: 100%;
}

.header {
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  margin-top: 4rem;
}

.title {
  font-size: 6rem;
  color: #484848;

  &>a {
    text-decoration: none;
    color: inherit;
    border: none;
  }
}

.keyword {
  font-weight: bold;
}

.key-passage {
  font-weight: bold;
  font-size: 140%;
  line-height: 130%;
  letter-spacing: 0.02rem;
  margin: 4rem 0;
}

section.buffered {
  margin-top: 6rem;
}

div.buffered {
  margin-top: 2rem;
}

h3 {
  @extend .centered-text;
}

h4 {
  letter-spacing: normal;
  line-height: normal;
}

h6 {
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.01rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.contact-card {
  @include round-corners($contact-card-border-radius);
  @extend div.buffered;

  box-sizing: border-box;
  // background-color: #f9f9f7; //sepia/yellow-y
  background-color: #f2faff; //blue-y
  // background-color: #f9fffa; //green-y
  padding: 2rem 5rem;
  letter-spacing: 0.01rem;
  width: 70%;

  .contact-name {
    font-weight: bold;
  }
}

ul.list {
  padding: 0;
  margin: 0;
  list-style: circle !important;

  &>li {
    padding: inherit;
    margin: inherit;
    list-style: inherit;
    // content: "\2014\a0" !important;
  }
}

/* phone: small / portrait */
@media screen and (max-width: $mobile-width-small) {

  .title {
    font-size: 2.5rem;
  }
}

/* phone & tablets */
@media screen and (min-width: $mobile-width-small) and (max-width: $mobile-width-max) {

  .title {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: $mobile-width-max) {

  .title-row {
    margin-bottom: 3rem;
  }
}
