<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- favicon from Wikimedia Commons: https://commons.wikimedia.org/wiki/File:Texas_flag_map.svg -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">

    <link rel="stylesheet" href="css/dist/normalize.css">
    <link rel="stylesheet" href="css/dist/skeleton.css">
    <link rel="stylesheet" href="css/dist/jquery.mmenu.all.css" />
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/navbar.css">

    <!-- TODO: favicon -->
    <!-- TODO: SEO -->

    <title>Right To Boycott | Texas</title>
</head>

<body>
    <div id="body-container" class="container main-container">
      <section class="header row">
        <div class="title-row align-in-row centered-text">
          <a id="mobile-menu-icon" class="mobile-menu-icon" href="#navbar"></a>
          <span id="title" class="title">
            <a href="/">Right to Boycott | Texas</a>
          </span>
        </div>

          <div class="navbar-spacer "></div>
          <nav id="navbar" class="navbar">
              <ul class="navbar-list">
                {% if page.url == "/" %}
                  <li class="navbar-item top-nav-only selected-page">
                {% else %}
                  <li class="navbar-item top-nav-only">
                {% endif %}
                      <a class="navbar-link" href="/">
                        Home
                      </a>
                  </li>
                  <li class="navbar-item">
                      <span class="navbar-dropdown-link">
                        Bills
                      </span>
                      <ul class="dropdown-menu">
                        <li class="dropdown-item">
                          <a href="sb134.html">
                            SB 134
                          </a>
                        </li>
                        <li class="dropdown-item">
                          <a href="sb29.html">
                            SB 29
                          </a>
                        </li>
                        <li class="dropdown-item">
                          <a href="hb89.html">
                            HB 89
                          </a>
                        </li>
                        <li class="dropdown-item">
                          <a href="analysis.html">
                            Analysis
                          </a>
                        </li>
                      </ul>
                  </li>
                  {% if page.url == "/press.html" %}
                    <li class="navbar-item top-nav-only selected-page">
                  {% else %}
                    <li class="navbar-item top-nav-only">
                  {% endif %}
                      <a class="navbar-link" href="press.html">
                        Press
                      </a>
                  </li>
                  {% if page.url == "/about-bds.html" %}
                    <li class="navbar-item top-nav-only selected-page">
                  {% else %}
                    <li class="navbar-item top-nav-only">
                  {% endif %}
                      <a class="navbar-link" href="about-bds.html">
                        About BDS
                      </a>
                  </li>

                  {% if page.url == "/take-action.html" %}
                    <li class="navbar-item top-nav-only selected-page">
                  {% else %}
                    <li class="navbar-item top-nav-only">
                  {% endif %}
                      <a class="navbar-link" href="take-action.html">
                        Take Action!
                      </a>
                  </li>
              </ul>
          </nav>
      </section>

        <section id="main" class="row main-body-container">
            {{content}}
        </section>

    </div>

    <script type="text/javascript" src="/js/dist/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/dist/jquery.mmenu.all.min.js"></script>

    <script type="text/javascript">
       $(document).ready(function() {
          $("#navbar").mmenu({}, {
            clone: true
          });
       });
     </script>

     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-92963219-1', 'auto');
       ga('send', 'pageview');
     </script>
  </body>
</html>
